.fixed {
  position: relative;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 1.2em;
  width: 90%;
  /* just for example presentation */
  /* background-color: blue; */
}
.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: contain;
}

.project-card:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

.circle {
  border-radius: 25px;
}

.custom-card {
  color: inherit;
  text-decoration: none;
}