
.landing-page {
  color: white;
  background-size: cover;
  background-image: url("photos/ibum_surf.jpg");
  background-position: center top;
  height: 300px;
  width: 600px;
  margin: auto;
  display: flex; /* This ensures the content is centered vertically */
  justify-content: center; /* This centers the content horizontally */
  align-items: center; /* This centers the content vertically */
}

  .full-screen {
    height: 100vh;
  }

  .no-bullet {
    list-style-type: none;
  }
  
  .dont-decorate {
    text-decoration: none;
  }